// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/* Standardize container padding/margin */
.app-container {
    padding: 2rem; /* Define your padding */
    margin: 0 auto; /* Center content horizontally */
    max-width: 1200px; /* Ensure content width consistency */
}

.app-container-fluid {
    padding: 2rem; /* For fluid version */
}

@media (max-width: 768px) {
    .app-container,
    .app-container-fluid {
        padding: 1rem; /* Adjust spacing for smaller screens */
    }
}

